.cs-array {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 20px 0;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.full {
    width: 100%;
    height: 100%;
}