* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar-viewport {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.sidebar-inset {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.option-group {
    display: inline-flex;
    width: 100%;
    background: var(--background-tertiary);
    padding: 10px;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.option-group:hover {
    background: var(--background-secondary);
}

.option-group button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 4px;
    background: var(--type-destructive);
    border: 1px solid var(--type-destructive-active);
}

.option-group button:hover {
    box-shadow: 0 0 25px var(--type-destructive-active);
    background: var(--type-destructive-hover);
}

.option-group button:active {
    background: var(--type-destructive-active);
}

.option-group h2 {
    position: relative;
    font-size: 15px;
    font-weight: 800;
    font-style: bold;
}

header {
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--muted-border);
    background: linear-gradient(
        to right,
        var(--type-destructive-active) 0%,
        var(--background-tertiary) 20%
    );
}

header h1 {
    font-size: 20px;
    font-weight: 800;
    font-style: bold;
    padding: 10px;
}

header button {
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 4px;
    background: none;
    border: none;
}

footer {
    height: 20px;
    background: var(--background-secondary);
}

main {
    flex: 1;
    background: var(--background-secondary);
}

aside {
    width: 55px;
    height: 100vh;
    border-right: 1px solid var(--border);
    background: var(--background-primary);
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 2px;
    transition: width 0.3s ease;
}

aside.expanded {
    width: 250px;
}

/* Keyframes */
@keyframes shrinkAside {
    from {
        width: 250px;
    }
    to {
        width: 55px;
    }
}