.stat-box {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 120px;
    padding: 20px;
    border: 1px solid var(--type-primary);
    border-radius: 8px;
}

.stat-mod {
    margin-top:20px;
    font-size: 14px;
    width: 40px;
    height: fit-content;
    background: var(--background-primary);
    border: 1px solid var(--type-primary);
    border-radius: 5px;
    text-align: center;
    color: var(--type-primary);
}

.stat-container{
    position: relative;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.box1 {
    grid-area: 1 / 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.box1 h1 {
    color: var(--type-primary);
}

.icon { 
    height: 80px;
    width: 80px;
    color: var(--type-destructive);
}