* {
    color: var(--type-primary);
    font-family: "Inter", sans-serif;
}

:root {
  --type-primary: #ffffff;
  --type-secondary: #9ca3af;

  --background-primary: #0c0c0c;
  --background-secondary: #0d0d0d;
  --background-tertiary: #141414;
  --surface: #020711;
  --surface-card: #020711;
  --surface-card-hover: #020409;

  --border: #ffffff;
  --muted-border: #4b5563;
  --border-card: #1f2937;
  --border-card-hover: #a7bbda;

  --type-good: #37992e;
  --type-progressive: #2563eb;
  --type-progressive-hover: #1d4ed8;
  --type-destructive: #ef4444;
  --type-destructive-hover: #f37e7e;
  --type-destructive-active: #cf3232;
  --type-warning: #ffea00;
  --type-muted: #9ca3af;
}